//
// Base variables
// --------------------------------------------------

// Themes Paths
// -------------------------
$theme-path: 'themes/palette5/';

//
// Themes Custom
// --------------------------------------------------

:root {
// Global
// -------------------------
--body-bg-color: #f0f4f8;
--border-color: #D9E2EC;

// Type
// -------------------------
--content-text-color: #646C81;
--content-secondary-text-color: #808a96;

--heading-text-color: #102A43;

--link-text-color: #127FBF;
--link-text-hover-color: #2BB0ED;

// Menu
// -------------------------
--navigation-bg-color: var(--heading-text-color);
--navigation-bg-hover-color: #115b7f;
--navigation-text-color: #fff;

// Work
// -------------------------
--accent-bg-color: var(--border-color);
--accent-text-color: var(--heading-text-color);
}
