.work {
  background-color: #FbFbFb;
}

.about:after, .work:after {
  content: '';
  display: block;
  height: @navigation-height;
  background: url('/../../../../../../../../img/themes/bordo/pattern.png') repeat-x 0 0 transparent;
}

.about:after {
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.20), 0 -1px 1px rgba(0, 0, 0, 0.07) inset;
}

.work:after {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
}