//
// Base variables
// --------------------------------------------------

// Themes Paths
// -------------------------
$theme-path: 'themes/grayscale/';

//
// Themes Custom
// --------------------------------------------------

:root {
  --body-bg-color:             #{$gray-50};
  --content-text-color:        #{$gray-900};

  --navigation-bg-color:       #{$gray-900};
  --navigation-bg-hover-color: #{$gray-800};
  --navigation-text-color:     #{$white};

  --accent-bg-color:           #{$gray-200};
}
