//
// Base variables
// --------------------------------------------------

// Themes Paths
// -------------------------
$theme-path: 'themes/gwen/';

//
// Themes Custom
// --------------------------------------------------

:root {
  --body-bg-color:                #{$white};
  --accent-bg-color:              #1b1733;

  --content-text-color:           #080740;
  --content-secondary-text-color: #{$gray-500};
  --link-text-color:              #a338b5;
  --link-text-hover-color:        #0fc1d4;

  --navigation-bg-color:          #1b1733;
  --navigation-bg-hover-color:    #a338b5;
  --navigation-text-color:        #{$white};

}

section h2 {
  --font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 5em;
  color: #{$white};
}

h2 { 
  .about &, .talks & {
    background: -o-linear-gradient(transparent, transparent);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
}

.work, .about h2, .talks h2 {
  /** https://www.svgbackgrounds.com/#randomized-pattern **/
  background-image: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='50' height='25' viewBox='0 0 50 25'><rect fill='#1b1733' width='50' height='25'/><defs><rect stroke='#1b1733' stroke-width='0.1' width='1' height='1' id='s'/><pattern id='a' width='2' height='2' patternUnits='userSpaceOnUse'><g stroke='#1b1733' stroke-width='0.1'><rect fill='#201c37' width='1' height='1'/><rect fill='#1b1733' width='1' height='1' x='1' y='1'/><rect fill='#24203b' width='1' height='1' y='1'/><rect fill='#29253f' width='1' height='1' x='1'/></g></pattern><pattern id='b' width='5' height='11' patternUnits='userSpaceOnUse'><g fill='#2d2a43'><use xlink:href='#s' x='2' y='0'/><use xlink:href='#s' x='4' y='1'/><use xlink:href='#s' x='1' y='2'/><use xlink:href='#s' x='2' y='4'/><use xlink:href='#s' x='4' y='6'/><use xlink:href='#s' x='0' y='8'/><use xlink:href='#s' x='3' y='9'/></g></pattern><pattern id='c' width='7' height='7' patternUnits='userSpaceOnUse'><g fill='#322e47'><use xlink:href='#s' x='1' y='1'/><use xlink:href='#s' x='3' y='4'/><use xlink:href='#s' x='5' y='6'/><use xlink:href='#s' x='0' y='3'/></g></pattern><pattern id='d' width='11' height='5' patternUnits='userSpaceOnUse'><g fill='#1b1733'><use xlink:href='#s' x='1' y='1'/><use xlink:href='#s' x='6' y='3'/><use xlink:href='#s' x='8' y='2'/><use xlink:href='#s' x='3' y='0'/><use xlink:href='#s' x='0' y='3'/></g><g fill='#36334b'><use xlink:href='#s' x='8' y='3'/><use xlink:href='#s' x='4' y='2'/><use xlink:href='#s' x='5' y='4'/><use xlink:href='#s' x='10' y='0'/></g></pattern><pattern id='e' width='47' height='23' patternUnits='userSpaceOnUse'><g fill='#a338b5'><use xlink:href='#s' x='2' y='5'/><use xlink:href='#s' x='23' y='13'/><use xlink:href='#s' x='4' y='18'/><use xlink:href='#s' x='35' y='9'/></g></pattern><pattern id='f' width='61' height='31' patternUnits='userSpaceOnUse'><g fill='#a338b5'><use xlink:href='#s' x='16' y='0'/><use xlink:href='#s' x='13' y='22'/><use xlink:href='#s' x='44' y='15'/><use xlink:href='#s' x='12' y='11'/></g></pattern></defs><rect fill='url(#a)' width='50' height='25'/><rect fill='url(#b)' width='50' height='25'/><rect fill='url(#c)' width='50' height='25'/><rect fill='url(#d)' width='50' height='25'/><rect fill='url(#e)' width='50' height='25'/><rect fill='url(#f)' width='50' height='25'/></svg>");
}

.work {
  background-attachment: fixed;
  background-size: cover;
}