//
// Base variables
// --------------------------------------------------

// Themes Paths
// -------------------------
$theme-path: 'themes/gwen/';

//
// Themes Custom
// --------------------------------------------------

:root {
  --body-bg-color:                #{$white};
  --accent-bg-color:              #1b1733;

  --content-text-color:           #080740;
  --content-secondary-text-color: #{$gray-500};
  --link-text-color:              #a338b5;
  --link-text-hover-color:        #0fc1d4;

  --navigation-bg-color:          #1b1733;
  --navigation-bg-hover-color:    #a338b5;
  --navigation-text-color:        #{$white};

}

.category h2 { 
  --font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 5em;
  color: #{$white};
}

h2 { 
  .about &, .talks & {
    background: -o-linear-gradient(transparent, transparent);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
}

.work, .about h2, .talks h2 {
  /** https://www.svgbackgrounds.com/#randomized-pattern **/
  background-image: url("data:image/svg+xml,JTNDc3ZnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZycgeG1sbnM6eGxpbms9J2h
0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsnIHdpZHRoPSc1MCcgaGVpZ2h0PScyNScgdmlld0
JveD0nMCAwIDUwIDI1JyUzRSUzQ2RlZnMlM0UlM0NyZWN0IHN0cm9rZT0nJTIzMWIxNzMzJyBzd
HJva2Utd2lkdGg9JzAuMScgd2lkdGg9JzEnIGhlaWdodD0nMScgaWQ9J3MnLyUzRSUzQ3BhdHRl
cm4gaWQ9J2EnIHdpZHRoPScyJyBoZWlnaHQ9JzInIHBhdHRlcm5Vbml0cz0ndXNlclNwYWNlT25
Vc2UnJTNFJTNDZyBzdHJva2U9JyUyMzFiMTczMycgc3Ryb2tlLXdpZHRoPScwLjEnJTNFJTNDcm
VjdCBmaWxsPSclMjMyMDFjMzcnIHdpZHRoPScxJyBoZWlnaHQ9JzEnLyUzRSUzQ3JlY3QgZmlsb
D0nJTIzMWIxNzMzJyB3aWR0aD0nMScgaGVpZ2h0PScxJyB4PScxJyB5PScxJy8lM0UlM0NyZWN0
IGZpbGw9JyUyMzI0MjAzYicgd2lkdGg9JzEnIGhlaWdodD0nMScgeT0nMScvJTNFJTNDcmVjdCB
maWxsPSclMjMyOTI1M2YnIHdpZHRoPScxJyBoZWlnaHQ9JzEnIHg9JzEnLyUzRSUzQy9nJTNFJT
NDL3BhdHRlcm4lM0UlM0NwYXR0ZXJuIGlkPSdiJyB3aWR0aD0nNScgaGVpZ2h0PScxMScgcGF0d
GVyblVuaXRzPSd1c2VyU3BhY2VPblVzZSclM0UlM0NnIGZpbGw9JyUyMzJkMmE0MyclM0UlM0N1
c2UgeGxpbms6aHJlZj0nJTIzcycgeD0nMicgeT0nMCcvJTNFJTNDdXNlIHhsaW5rOmhyZWY9JyU
yM3MnIHg9JzQnIHk9JzEnLyUzRSUzQ3VzZSB4bGluazpocmVmPSclMjNzJyB4PScxJyB5PScyJy
8lM0UlM0N1c2UgeGxpbms6aHJlZj0nJTIzcycgeD0nMicgeT0nNCcvJTNFJTNDdXNlIHhsaW5rO
mhyZWY9JyUyM3MnIHg9JzQnIHk9JzYnLyUzRSUzQ3VzZSB4bGluazpocmVmPSclMjNzJyB4PScw
JyB5PSc4Jy8lM0UlM0N1c2UgeGxpbms6aHJlZj0nJTIzcycgeD0nMycgeT0nOScvJTNFJTNDL2c
lM0UlM0MvcGF0dGVybiUzRSUzQ3BhdHRlcm4gaWQ9J2MnIHdpZHRoPSc3JyBoZWlnaHQ9JzcnIH
BhdHRlcm5Vbml0cz0ndXNlclNwYWNlT25Vc2UnJTNFJTNDZyBmaWxsPSclMjMzMjJlNDcnJTNFJ
TNDdXNlIHhsaW5rOmhyZWY9JyUyM3MnIHg9JzEnIHk9JzEnLyUzRSUzQ3VzZSB4bGluazpocmVm
PSclMjNzJyB4PSczJyB5PSc0Jy8lM0UlM0N1c2UgeGxpbms6aHJlZj0nJTIzcycgeD0nNScgeT0
nNicvJTNFJTNDdXNlIHhsaW5rOmhyZWY9JyUyM3MnIHg9JzAnIHk9JzMnLyUzRSUzQy9nJTNFJT
NDL3BhdHRlcm4lM0UlM0NwYXR0ZXJuIGlkPSdkJyB3aWR0aD0nMTEnIGhlaWdodD0nNScgcGF0d
GVyblVuaXRzPSd1c2VyU3BhY2VPblVzZSclM0UlM0NnIGZpbGw9JyUyMzFiMTczMyclM0UlM0N1
c2UgeGxpbms6aHJlZj0nJTIzcycgeD0nMScgeT0nMScvJTNFJTNDdXNlIHhsaW5rOmhyZWY9JyU
yM3MnIHg9JzYnIHk9JzMnLyUzRSUzQ3VzZSB4bGluazpocmVmPSclMjNzJyB4PSc4JyB5PScyJy
8lM0UlM0N1c2UgeGxpbms6aHJlZj0nJTIzcycgeD0nMycgeT0nMCcvJTNFJTNDdXNlIHhsaW5rO
mhyZWY9JyUyM3MnIHg9JzAnIHk9JzMnLyUzRSUzQy9nJTNFJTNDZyBmaWxsPSclMjMzNjMzNGIn
JTNFJTNDdXNlIHhsaW5rOmhyZWY9JyUyM3MnIHg9JzgnIHk9JzMnLyUzRSUzQ3VzZSB4bGluazp
ocmVmPSclMjNzJyB4PSc0JyB5PScyJy8lM0UlM0N1c2UgeGxpbms6aHJlZj0nJTIzcycgeD0nNS
cgeT0nNCcvJTNFJTNDdXNlIHhsaW5rOmhyZWY9JyUyM3MnIHg9JzEwJyB5PScwJy8lM0UlM0MvZ
yUzRSUzQy9wYXR0ZXJuJTNFJTNDcGF0dGVybiBpZD0nZScgd2lkdGg9JzQ3JyBoZWlnaHQ9JzIz
JyBwYXR0ZXJuVW5pdHM9J3VzZXJTcGFjZU9uVXNlJyUzRSUzQ2cgZmlsbD0nJTIzYTMzOGI1JyU
zRSUzQ3VzZSB4bGluazpocmVmPSclMjNzJyB4PScyJyB5PSc1Jy8lM0UlM0N1c2UgeGxpbms6aH
JlZj0nJTIzcycgeD0nMjMnIHk9JzEzJy8lM0UlM0N1c2UgeGxpbms6aHJlZj0nJTIzcycgeD0nN
CcgeT0nMTgnLyUzRSUzQ3VzZSB4bGluazpocmVmPSclMjNzJyB4PSczNScgeT0nOScvJTNFJTND
L2clM0UlM0MvcGF0dGVybiUzRSUzQ3BhdHRlcm4gaWQ9J2YnIHdpZHRoPSc2MScgaGVpZ2h0PSc
zMScgcGF0dGVyblVuaXRzPSd1c2VyU3BhY2VPblVzZSclM0UlM0NnIGZpbGw9JyUyM2EzMzhiNS
clM0UlM0N1c2UgeGxpbms6aHJlZj0nJTIzcycgeD0nMTYnIHk9JzAnLyUzRSUzQ3VzZSB4bGlua
zpocmVmPSclMjNzJyB4PScxMycgeT0nMjInLyUzRSUzQ3VzZSB4bGluazpocmVmPSclMjNzJyB4
PSc0NCcgeT0nMTUnLyUzRSUzQ3VzZSB4bGluazpocmVmPSclMjNzJyB4PScxMicgeT0nMTEnLyU
zRSUzQy9nJTNFJTNDL3BhdHRlcm4lM0UlM0MvZGVmcyUzRSUzQ3JlY3QgZmlsbD0ndXJsKCUyM2
EpJyB3aWR0aD0nNTAnIGhlaWdodD0nMjUnLyUzRSUzQ3JlY3QgZmlsbD0ndXJsKCUyM2IpJyB3a
WR0aD0nNTAnIGhlaWdodD0nMjUnLyUzRSUzQ3JlY3QgZmlsbD0ndXJsKCUyM2MpJyB3aWR0aD0n
NTAnIGhlaWdodD0nMjUnLyUzRSUzQ3JlY3QgZmlsbD0ndXJsKCUyM2QpJyB3aWR0aD0nNTAnIGh
laWdodD0nMjUnLyUzRSUzQ3JlY3QgZmlsbD0ndXJsKCUyM2UpJyB3aWR0aD0nNTAnIGhlaWdodD
0nMjUnLyUzRSUzQ3JlY3QgZmlsbD0ndXJsKCUyM2YpJyB3aWR0aD0nNTAnIGhlaWdodD0nMjUnL
yUzRSUzQy9zdmclM0U=");
}

.work {
  background-attachment: fixed;
  background-size: cover;
}