@content-text-color: #fff;
@content-secondary-text-color: #bbb;
@content-bg-color: transparent;
@logo-text-color: #fff;

@screen-sm: 768px;
@screen-sm-min: @screen-sm;
@screen-xs-max: (@screen-sm-min - 1);

@import "global";
@import "layout";
@import "general";
@import "menu";
@import "portfolio";