.about {
  h2 {
    margin-top: ($navigation-height / 4 ) * 3;
  }
  &:target h2 {
    margin-top: 0;
  }
}

.aside {
  color: var(--content-secondary-text-color);
  font-size: .85em;
}

.vcard {
  margin: 0;

  dt {
    color: var(--content-text-color);
    display: block;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 0;
    margin-top: 2em;
    text-transform: uppercase;
  }
  dt:first-of-type {
    margin-top: .8em;
  }
}

.summary {
  display: block;
  font-size: 1.1em;
  p:first-of-type {
    font-size: 1.4em;
    line-height: 1.6em;
  }
  p {
    margin-bottom: 1rem;
  }
}


.about .more {
  display: block;
  &:after {
    content: 'Download résumé \00BB';
  }
}