body {
  background-color: $body-bg-color;
  color: $content-text-color;
  font-family: var(--font-family-base);
}

a {
  &, &:link, &:visited {
    color: $link-text-color;
  }
  &:hover {
    color: $link-text-hover-color;
    transition: color .3s ease-in-out;
    text-decoration: none;
  }
}

h1, h2 {
  color: $heading-text-color;
  font-family: var(--font-family-base);
}

h2 {
  font-weight: 500;
  letter-spacing: 5px;
  text-transform: uppercase;
}