.category {
  position: relative;
  padding-top: 2.5*$navigation-height;
  @media (min-width: $screen-sm) {
    & {
      padding-top: 1.5*$navigation-height;
    }

    &.about {
      margin-top: 35px;
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
    li {
      margin-bottom: .5em;
      padding-top: 10px;
      padding-bottom: 6px;
      .taggedlink {
        display: table-row;
      }
      .dtstart {
        color: var(--content-secondary-text-color);
        font-style: italic;
        font-weight: 400;
      }
      .location {
        color: var(--content-text-color);
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .more {
    float: right;
    font-size: .8em;
    letter-spacing: 1px;
    margin-top: -3em;
    text-align: right;
    text-transform: uppercase;
    &:focus, &:active, &:hover {
      text-decoration: none;
    }
    &:after {
      content: 'Less \00BB';
      position: relative;
      display: block;
    }
    &[aria-expanded=false]:after {
      content: 'More \00BB';
    }
  }
  &::after {
    content: '';
    display: block;
    height: $navigation-height/2;
    margin-top: $navigation-height;
  }
}

.aside {
  color: var(--content-secondary-text-color);
  font-size: .85em;
}

.vcard {
  dt {
    color: var(--content-text-color);
    display: block;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 0;
    margin-top: 2em;
    text-transform: uppercase;
  }
  dt:first-of-type {
    margin-top: 1em;
  }
}

.details {
  font-size: 1.1em;
  line-height: 2em;
  p:first-of-type {
    font-size: 22px;
    margin: .3em 0 .7em;
  }
}