.svg {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.svg-cc {
  height: 12px;
  width: 12px;
  margin: 0 6px;
  background-image: url("data:image/svg+xml;base64, PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCFET0NUWVBFIHN2ZyBQVUJ
MSUMgIi0vL1czQy8vRFREIFNWRyAxLjAvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvVFIvMjAwMS
9SRUMtU1ZHLTIwMDEwOTA0L0RURC9zdmcxMC5kdGQiPgo8c3ZnIHZlcnNpb249IjEuMCIgaWQ9I
kxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9
Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHdpZHRoPSI
xMnB4IiBoZWlnaHQ9IjEycHgiIHZpZXdCb3g9IjUuNSAtMy41IDY0IDY0IiBlbmFibGUtYmFja2
dyb3VuZD0ibmV3IDUuNSAtMy41IDY0IDY0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGc+Cgk8Y
2lyY2xlIGZpbGw9InRyYW5zcGFyZW50IiBjeD0iMzcuNzg1IiBjeT0iMjguNTAxIiByPSIyOC44
MzYiLz4KCTxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0zNy40NDEtMy41YzguOTUxLDAsMTYuNTcyLDM
uMTI1LDIyLjg1Nyw5LjM3MmMzLjAwOCwzLjAwOSw1LjI5NSw2LjQ0OCw2Ljg1NywxMC4zMTQKCQ
ljMS41NjEsMy44NjcsMi4zNDQsNy45NzEsMi4zNDQsMTIuMzE0YzAsNC4zODEtMC43NzMsOC40O
DYtMi4zMTQsMTIuMzEzYy0xLjU0MywzLjgyOC0zLjgyLDcuMjEtNi44MjgsMTAuMTQzCgkJYy0z
LjEyMywzLjA4NS02LjY2Niw1LjQ0OC0xMC42MjksNy4wODZjLTMuOTYxLDEuNjM4LTguMDU3LDI
uNDU3LTEyLjI4NSwyLjQ1N3MtOC4yNzYtMC44MDgtMTIuMTQzLTIuNDI5CgkJYy0zLjg2Ni0xLj
YxOC03LjMzMy0zLjk2MS0xMC40LTcuMDI3Yy0zLjA2Ny0zLjA2Ni01LjQtNi41MjQtNy0xMC4zN
zJTNS41LDMyLjc2Nyw1LjUsMjguNWMwLTQuMjI5LDAuODA5LTguMjk1LDIuNDI4LTEyLjIKCQlj
MS42MTktMy45MDUsMy45NzItNy40LDcuMDU3LTEwLjQ4NkMyMS4wOC0wLjM5NCwyOC41NjUtMy4
1LDM3LjQ0MS0zLjV6IE0zNy41NTcsMi4yNzJjLTcuMzE0LDAtMTMuNDY3LDIuNTUzLTE4LjQ1OC
w3LjY1NwoJCWMtMi41MTUsMi41NTMtNC40NDgsNS40MTktNS44LDguNmMtMS4zNTQsMy4xODEtM
i4wMjksNi41MDUtMi4wMjksOS45NzJjMCwzLjQyOSwwLjY3NSw2LjczNCwyLjAyOSw5LjkxMwoJ
CWMxLjM1MywzLjE4MywzLjI4NSw2LjAyMSw1LjgsOC41MTZjMi41MTQsMi40OTYsNS4zNTEsNC4
zOTksOC41MTUsNS43MTVjMy4xNjEsMS4zMTQsNi40NzYsMS45NzEsOS45NDMsMS45NzEKCQljMy
40MjgsMCw2Ljc1LTAuNjY1LDkuOTczLTEuOTk5YzMuMjE5LTEuMzM1LDYuMTIxLTMuMjU3LDguN
zEzLTUuNzcxYzQuOTktNC44NzYsNy40ODQtMTAuOTksNy40ODQtMTguMzQ0CgkJYzAtMy41NDMt
MC42NDgtNi44OTUtMS45NDMtMTAuMDU3Yy0xLjI5My0zLjE2Mi0zLjE4LTUuOTgtNS42NTQtOC4
0NThDNTAuOTg0LDQuODQ0LDQ0Ljc5NSwyLjI3MiwzNy41NTcsMi4yNzJ6IE0zNy4xNTYsMjMuMT
g3CgkJbC00LjI4NywyLjIyOWMtMC40NTgtMC45NTEtMS4wMTktMS42MTktMS42ODUtMmMtMC42N
jctMC4zOC0xLjI4Ni0wLjU3MS0xLjg1OC0wLjU3MWMtMi44NTYsMC00LjI4NiwxLjg4NS00LjI4
Niw1LjY1NwoJCWMwLDEuNzE0LDAuMzYyLDMuMDg0LDEuMDg1LDQuMTEzYzAuNzI0LDEuMDI5LDE
uNzkxLDEuNTQ0LDMuMjAxLDEuNTQ0YzEuODY3LDAsMy4xODEtMC45MTUsMy45NDQtMi43NDNsMy
45NDIsMgoJCWMtMC44MzgsMS41NjMtMiwyLjc5MS0zLjQ4NiwzLjY4NmMtMS40ODQsMC44OTYtM
y4xMjMsMS4zNDMtNC45MTQsMS4zNDNjLTIuODU3LDAtNS4xNjMtMC44NzUtNi45MTUtMi42MjkK
CQljLTEuNzUyLTEuNzUyLTIuNjI4LTQuMTktMi42MjgtNy4zMTNjMC0zLjA0OCwwLjg4Ni01LjQ
2NiwyLjY1Ny03LjI1N2MxLjc3MS0xLjc5LDQuMDA5LTIuNjg2LDYuNzE1LTIuNjg2CgkJQzMyLj
YwNCwxOC41NTgsMzUuNDQxLDIwLjEwMSwzNy4xNTYsMjMuMTg3eiBNNTUuNjEzLDIzLjE4N2wtN
C4yMjksMi4yMjljLTAuNDU3LTAuOTUxLTEuMDItMS42MTktMS42ODYtMgoJCWMtMC42NjgtMC4z
OC0xLjMwNy0wLjU3MS0xLjkxNC0wLjU3MWMtMi44NTcsMC00LjI4NywxLjg4NS00LjI4Nyw1LjY
1N2MwLDEuNzE0LDAuMzYzLDMuMDg0LDEuMDg2LDQuMTEzCgkJYzAuNzIzLDEuMDI5LDEuNzg5LD
EuNTQ0LDMuMjAxLDEuNTQ0YzEuODY1LDAsMy4xOC0wLjkxNSwzLjk0MS0yLjc0M2w0LDJjLTAuO
Dc1LDEuNTYzLTIuMDU3LDIuNzkxLTMuNTQxLDMuNjg2CgkJYy0xLjQ4NiwwLjg5Ni0zLjEwNSwx
LjM0My00Ljg1NywxLjM0M2MtMi44OTYsMC01LjIwOS0wLjg3NS02Ljk0MS0yLjYyOWMtMS43MzY
tMS43NTItMi42MDItNC4xOS0yLjYwMi03LjMxMwoJCWMwLTMuMDQ4LDAuODg1LTUuNDY2LDIuNj
U4LTcuMjU3YzEuNzctMS43OSw0LjAwOC0yLjY4Niw2LjcxMy0yLjY4NkM1MS4xMTcsMTguNTU4L
DUzLjkzOCwyMC4xMDEsNTUuNjEzLDIzLjE4N3oiLz4KPC9nPgo8L3N2Zz4=");
}

.svg-linkedin {
  background-image: url("data:image/svg+xml;base64, PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZGF0YS1wcmVmaXg9ImZhYiIgZGF0YS1pY29uPSJsaW5
rZWRpbi1pbiIgY2xhc3M9InN2Zy1pbmxpbmUtLWZhIGZhLWxpbmtlZGluLWluIGZhLXctMTQiIH
JvbGU9ImltZyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwI
DAgNDQ4IDUxMiI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTEwMC4zIDQ0OEg3LjRWMTQ4LjloOTIu
OVY0NDh6TTUzLjggMTA4LjFDMjQuMSAxMDguMSAwIDgzLjUgMCA1My44UzI0LjEgMCA1My44IDB
zNTMuOCAyNC4xIDUzLjggNTMuOC0yNC4xIDU0LjMtNTMuOCA1NC4zek00NDggNDQ4aC05Mi43Vj
MwMi40YzAtMzQuNy0uNy03OS4yLTQ4LjMtNzkuMi00OC4zIDAtNTUuNyAzNy43LTU1LjcgNzYuN
1Y0NDhoLTkyLjhWMTQ4LjloODkuMXY0MC44aDEuM2MxMi40LTIzLjUgNDIuNy00OC4zIDg3Ljkt
NDguMyA5NCAwIDExMS4zIDYxLjkgMTExLjMgMTQyLjNWNDQ4aC0uMXoiPjwvcGF0aD48L3N2Zz4
=");
}

.svg-github {
  background-image: url("data:image/svg+xml;base64, PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZGF0YS1wcmVmaXg9ImZhYiIgZGF0YS1pY29uPSJnaXR
odWIiIGNsYXNzPSJzdmctaW5saW5lLS1mYSBmYS1naXRodWIgZmEtdy0xNiIgcm9sZT0iaW1nIi
B4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0OTYgNTEyI
j48cGF0aCBmaWxsPSIjZmZmIiBkPSJNMTY1LjkgMzk3LjRjMCAyLTIuMyAzLjYtNS4yIDMuNi0z
LjMuMy01LjYtMS4zLTUuNi0zLjYgMC0yIDIuMy0zLjYgNS4yLTMuNiAzLS4zIDUuNiAxLjMgNS4
2IDMuNnptLTMxLjEtNC41Yy0uNyAyIDEuMyA0LjMgNC4zIDQuOSAyLjYgMSA1LjYgMCA2LjItMn
MtMS4zLTQuMy00LjMtNS4yYy0yLjYtLjctNS41LjMtNi4yIDIuM3ptNDQuMi0xLjdjLTIuOS43L
TQuOSAyLjYtNC42IDQuOS4zIDIgMi45IDMuMyA1LjkgMi42IDIuOS0uNyA0LjktMi42IDQuNi00
LjYtLjMtMS45LTMtMy4yLTUuOS0yLjl6TTI0NC44IDhDMTA2LjEgOCAwIDExMy4zIDAgMjUyYzA
gMTEwLjkgNjkuOCAyMDUuOCAxNjkuNSAyMzkuMiAxMi44IDIuMyAxNy4zLTUuNiAxNy4zLTEyLj
EgMC02LjItLjMtNDAuNC0uMy02MS40IDAgMC03MCAxNS04NC43LTI5LjggMCAwLTExLjQtMjkuM
S0yNy44LTM2LjYgMCAwLTIyLjktMTUuNyAxLjYtMTUuNCAwIDAgMjQuOSAyIDM4LjYgMjUuOCAy
MS45IDM4LjYgNTguNiAyNy41IDcyLjkgMjAuOSAyLjMtMTYgOC44LTI3LjEgMTYtMzMuNy01NS4
5LTYuMi0xMTIuMy0xNC4zLTExMi4zLTExMC41IDAtMjcuNSA3LjYtNDEuMyAyMy42LTU4LjktMi
42LTYuNS0xMS4xLTMzLjMgMi42LTY3LjkgMjAuOS02LjUgNjkgMjcgNjkgMjcgMjAtNS42IDQxL
jUtOC41IDYyLjgtOC41czQyLjggMi45IDYyLjggOC41YzAgMCA0OC4xLTMzLjYgNjktMjcgMTMu
NyAzNC43IDUuMiA2MS40IDIuNiA2Ny45IDE2IDE3LjcgMjUuOCAzMS41IDI1LjggNTguOSAwIDk
2LjUtNTguOSAxMDQuMi0xMTQuOCAxMTAuNSA5LjIgNy45IDE3IDIyLjkgMTcgNDYuNCAwIDMzLj
ctLjMgNzUuNC0uMyA4My42IDAgNi41IDQuNiAxNC40IDE3LjMgMTIuMUM0MjguMiA0NTcuOCA0O
TYgMzYyLjkgNDk2IDI1MiA0OTYgMTEzLjMgMzgzLjUgOCAyNDQuOCA4ek05Ny4yIDM1Mi45Yy0x
LjMgMS0xIDMuMy43IDUuMiAxLjYgMS42IDMuOSAyLjMgNS4yIDEgMS4zLTEgMS0zLjMtLjctNS4
yLTEuNi0xLjYtMy45LTIuMy01LjItMXptLTEwLjgtOC4xYy0uNyAxLjMuMyAyLjkgMi4zIDMuOS
AxLjYgMSAzLjYuNyA0LjMtLjcuNy0xLjMtLjMtMi45LTIuMy0zLjktMi0uNi0zLjYtLjMtNC4zL
jd6bTMyLjQgMzUuNmMtMS42IDEuMy0xIDQuMyAxLjMgNi4yIDIuMyAyLjMgNS4yIDIuNiA2LjUg
MSAxLjMtMS4zLjctNC4zLTEuMy02LjItMi4yLTIuMy01LjItMi42LTYuNS0xem0tMTEuNC0xNC4
3Yy0xLjYgMS0xLjYgMy42IDAgNS45IDEuNiAyLjMgNC4zIDMuMyA1LjYgMi4zIDEuNi0xLjMgMS
42LTMuOSAwLTYuMi0xLjQtMi4zLTQtMy4zLTUuNi0yeiI+PC9wYXRoPjwvc3ZnPg==");
}

.svg-stackoverflow {
  background-image: url("data:image/svg+xml;base64, PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZGF0YS1wcmVmaXg9ImZhYiIgZGF0YS1pY29uPSJzdGF
jay1vdmVyZmxvdyIgY2xhc3M9InN2Zy1pbmxpbmUtLWZhIGZhLXN0YWNrLW92ZXJmbG93IGZhLX
ctMTIiIHJvbGU9ImltZyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Q
m94PSIwIDAgMzg0IDUxMiI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTI5My43IDMwMGwtMTgxLjIt
ODQuNSAxNi43LTM2LjUgMTgxLjMgODQuNy0xNi44IDM2LjN6bTQ4LTc2TDE4OC4yIDk1LjdsLTI
1LjUgMzAuOCAxNTMuNSAxMjguMyAyNS41LTMwLjh6bTM5LjYtMzEuN0wyNjIgMzJsLTMyIDI0ID
ExOS4zIDE2MC4zIDMyLTI0ek0yOTAuNyAzMTFMOTUgMjY5LjcgODYuOCAzMDlsMTk1LjcgNDEgO
C4yLTM5em0zMS42IDEyOUg0Mi43VjMyMGgtNDB2MTYwaDM1OS41VjMyMGgtNDB2MTIwem0tMzku
OC04MGgtMjAwdjM5LjdoMjAwVjM2MHoiPjwvcGF0aD48L3N2Zz4=");
}

.svg-behance {
  background-image: url("data:image/svg+xml;base64, PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZGF0YS1wcmVmaXg9ImZhYiIgZGF0YS1pY29uPSJiZWh
hbmNlIiBjbGFzcz0ic3ZnLWlubGluZS0tZmEgZmEtYmVoYW5jZSBmYS13LTE4IiByb2xlPSJpbW
ciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDU3NiA1M
TIiPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0yMzIgMjM3LjJjMzEuOC0xNS4yIDQ4LjQtMzguMiA0
OC40LTc0IDAtNzAuNi01Mi42LTg3LjgtMTEzLjMtODcuOEgwdjM1NC40aDE3MS44YzY0LjQgMCA
xMjQuOS0zMC45IDEyNC45LTEwMi45IDAtNDQuNS0yMS4xLTc3LjQtNjQuNy04OS43ek03Ny45ID
EzNS45SDE1MWMyOC4xIDAgNTMuNCA3LjkgNTMuNCA0MC41IDAgMzAuMS0xOS43IDQyLjItNDcuN
SA0Mi4yaC03OXYtODIuN3ptODMuMyAyMzMuN0g3Ny45VjI3Mmg4NC45YzM0LjMgMCA1NiAxNC4z
IDU2IDUwLjYgMCAzNS44LTI1LjkgNDctNTcuNiA0N3ptMzU4LjUtMjQwLjdIMzc2Vjk0aDE0My4
3djM0Ljl6TTU3NiAzMDUuMmMwLTc1LjktNDQuNC0xMzkuMi0xMjQuOS0xMzkuMi03OC4yIDAtMT
MxLjMgNTguOC0xMzEuMyAxMzUuOCAwIDc5LjkgNTAuMyAxMzQuNyAxMzEuMyAxMzQuNyA2MS4zI
DAgMTAxLTI3LjYgMTIwLjEtODYuM0g1MDljLTYuNyAyMS45LTM0LjMgMzMuNS01NS43IDMzLjUt
NDEuMyAwLTYzLTI0LjItNjMtNjUuM2gxODUuMWMuMy00LjIuNi04LjcuNi0xMy4yek0zOTAuNCA
yNzRjMi4zLTMzLjcgMjQuNy01NC44IDU4LjUtNTQuOCAzNS40IDAgNTMuMiAyMC44IDU2LjIgNT
QuOEgzOTAuNHoiPjwvcGF0aD48L3N2Zz4=");
}

.svg-instagram {
  background-image: url("data:image/svg+xml;base64, ");
}

.svg-twitter {
  background-image: url("data:image/svg+xml;base64, ");
}