/* Grid */

.grid-container {
  margin: 0 1fr 0 3fr;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.navigation {
  display: flex;
}

.navigation div {
  flex: 1 auto;
}

.category {
  grid-column: 1 / -1;
}

.footer {
  grid-column: 1 / -1;
}

/* Styling */

.footer {
  background-color: var(--footer-bg-color);
  color: var(--footer-text-color);
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.25), 0 1px 0 rgba(0, 0, 0, 0.1) inset;
  font-size: .8em;
  padding: $grid-padding 0;
}
