/* Grid */
body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

nav,
section,
footer {
  margin: 0;
  padding-left: 10%;
  padding-right: 10%;
  overflow: hidden;
}

.about, 
.work .portfolio {
  display: grid;
  grid-template-columns: repeat($grid-columns, 1fr);
  grid-gap: $grid-gutter-width;
}

/* Mobile */
section,
footer, 
h2, 
.portfolio-item, 
.about .aside, 
.about .details {
  grid-column: 1 / 11;
}

/* Tablet */
@media (min-width: $screen-sm) {
  nav,
  section,
  footer {
    padding-right: 25%;
  }

  .about {
    .aside {
      grid-column-start: 1;
      grid-column-end: floor($grid-columns / 3);
    }

    .details {
      grid-column-start: floor($grid-columns / 3);
      grid-column-end: -1;
    }
  }

  .portfolio-item {
    grid-column: span floor($grid-columns / 2);
  }
}

/* Tablet */ 
@media (min-width: $screen-md) {
  .portfolio-item {
    grid-column: span floor($grid-columns / 3);
  }
}

/* Desktop */ 
@media (min-width: $screen-lg) {
  .portfolio-item {
    grid-column: span floor($grid-columns / 4);
  }
}
