/* Grid */

body, .about, 
.work .portfolio {
  display: grid;
  grid-template-columns: repeat($grid-columns, 1fr);
  grid-gap: $grid-gutter-width;
}

body > div {
  margin: 0;
  padding: 0 10%;
}

.navigation {
  display: flex;
}

/* Mobile */
.category,
.footer, 
h2, 
.portfolio-item, 
.about .aside, 
.about .details {
  grid-column: 1 / -1;
}

/* Tablet */
@media (min-width: $screen-sm) {
  .about {
    .aside {
      grid-column-start: 1;
      grid-column-end: floor($grid-columns / 3);
    }

    .details {
      grid-column-start: floor($grid-columns / 3);
      grid-column-end: -1;
    }
  }

  .portfolio-item {
    grid-column: span floor($grid-columns / 2);
  }
}

/* Tablet */ 
@media (min-width: $screen-md) {
  .portfolio-item {
    grid-column: span floor($grid-columns / 3);
  }
}

/* Desktop */ 
@media (min-width: $screen-lg) {
  .portfolio-item {
    grid-column: span floor($grid-columns / 4);
  }
}

/* Styling */

.navigation, .footer {
  max-height: $navigation-height;
  height: $navigation-height;
}

.footer {
  background-color: var(--footer-bg-color);
  color: var(--footer-text-color);
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.25), 0 1px 0 rgba(0, 0, 0, 0.1) inset;
  font-size: .8em;
  padding-top: $grid-padding;
  padding-bottom: $grid-padding;
}
