.navigation {
  background-color: $navigation-bg-color;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
  min-height: $navigation-height;
  left: 0;
  overflow: visible;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10000;
}

.footer {
  background-color: $footer-bg-color;
  color: var(--footer-text-color);
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.25), 0 1px 0 rgba(0, 0, 0, 0.1) inset;
  min-height: $navigation-height;
  font-size: .8em;
  padding: ($navigation-height / 3) 0;
}