.navigation {
  background-color: var(--navigation-bg-color);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 10000;
  overflow: hidden;
  div {
    flex: 1 auto;
    display: flex;
    align-items: center;
  }
  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
  li {
    display: flex;
    justify-items: center;
    height: 100%;
  }
  a {
    color: var(--navigation-text-color);
    display: flex;
    align-items: center;
    transition: all 0.25s ease 0s;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeIn;
    animation-delay: 0.6s;
    padding-left: 1em;
    padding-right: 1em;
    text-transform: uppercase;
    height: 100%;
    &:hover {
      background-color: var(--navigation-bg-hover-color);
      text-decoration: none;
    }
  }
  li.active {
    a {
      background-color: var(--navigation-bg-hover-color);
    }
  }
  .twitter {
    &:hover,
    &:focus {
      --navigation-bg-hover-color: #00aced;
    }
  }
  .linkedin {
    &:hover,
    &:focus {
      --navigation-bg-hover-color: #007bb6;
    }
  }
  .github {
    &:hover,
    &:focus {
      --navigation-bg-hover-color: #44A79B;
    }
  }
  .stackoverflow {
    &:hover,
    &:focus {
      --navigation-bg-hover-color: #FF9900;
    }
  }
  .behance {
    &:hover,
    &:focus {
      --navigation-bg-hover-color: #CF9586;
    }
  }
  .steam {
    &:hover,
    &:focus {
      --navigation-bg-hover-color: #144578;
    }
  }
  .dribbble {
    &:hover,
    &:focus {
      --navigation-bg-hover-color: #f26798;
    }
  }
  .flickr {
    &:hover,
    &:focus {
      --navigation-bg-hover-color: #ff0084;
    }
  }
  .youtube {
    &:hover,
    &:focus {
      --navigation-bg-hover-color: #bb0000;
    }
  }
  .facebook {
    &:hover,
    &:focus {
      --navigation-bg-hover-color: #3b5998;
    }
  }
  .medium {
    &:hover,
    &:focus {
      --navigation-bg-hover-color: #53346d;
    }
  }

  .menu {
    margin-left: -1em;
  }
}

.external {
  box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.25);
  flex-direction: row-reverse;  
  ul {
    flex-direction: row-reverse;  
  }
  a {
    font-size: 1.5em;
  }
}
