nav {
  display: flex;
  background-color: var(--navigation-bg-color);
  top: 0;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 10000;
  overflow: hidden;
  justify-content: space-between;
  ul {
    display: flex;
    list-style: none;
    padding-left: 0;
    height: 100%;
    margin: 0;
  }
  a {
    display: flex;
    align-items: center;
    height: 100%;
    transition: all 0.25s ease 0s;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeIn;
    animation-delay: 0.6s;
    padding-left: 1em;
    padding-right: 1em;
    text-transform: uppercase;
    &, &:link, &:visited {
      color: var(--navigation-text-color);
    }
    &:hover {
      background-color: var(--navigation-bg-hover-color);
      text-decoration: none;
    }
  }
  li.active {
    a {
      background-color: var(--navigation-bg-hover-color);
    }
  }
  .menu {
    margin-left: -1em;
  }
  .external {
    flex-direction: row-reverse;
    border-bottom: 1px solid var(--portfolio-bg-color);
    a {
      font-size: 1.5em;
      .svg {
        width: 1em;
        height: 1.5em;
      }
    }
  }
  .twitter {
    &:hover,
    &:focus {
      --navigation-bg-hover-color: #00aced;
    }
  }
  .linkedin {
    &:hover,
    &:focus {
      --navigation-bg-hover-color: #007bb6;
    }
  }
  .github {
    &:hover,
    &:focus {
      --navigation-bg-hover-color: #44A79B;
    }
  }
  .stackoverflow {
    &:hover,
    &:focus {
      --navigation-bg-hover-color: #FF9900;
    }
  }
  .behance {
    &:hover,
    &:focus {
      --navigation-bg-hover-color: #CF9586;
    }
  }
  .steam {
    &:hover,
    &:focus {
      --navigation-bg-hover-color: #144578;
    }
  }
  .dribbble {
    &:hover,
    &:focus {
      --navigation-bg-hover-color: #f26798;
    }
  }
  .flickr {
    &:hover,
    &:focus {
      --navigation-bg-hover-color: #ff0084;
    }
  }
  .youtube {
    &:hover,
    &:focus {
      --navigation-bg-hover-color: #bb0000;
    }
  }
  .facebook {
    &:hover,
    &:focus {
      --navigation-bg-hover-color: #3b5998;
    }
  }
  .medium {
    &:hover,
    &:focus {
      --navigation-bg-hover-color: #53346d;
    }
  }
  .instagram {
    &:hover,
    &:focus {
      --navigation-bg-hover-color: #E1306C;
    }
  }
}

/* Tablet */ 
@media (min-width: $screen-md) {
  nav .external {
    border-bottom: 0;
  }
}
