.portfolio {
  padding: 0;
  margin-top: 1em;

  .portfolio-content {
    box-shadow: 2px 2px 2px rgba(0,0,0,.2);
    border-top-left-radius: 0.6em;
    background: var(--portfolio-bg-color);
    display: flex;
    flex-direction: column;
  }

  .portfolio-cover {
    border-top-left-radius: .5em;
    margin: 0;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    &:after {
      content:"\f00e";
      font: normal normal normal 38px/0 FontAwesome;
      left: 40%;
      opacity: 0;
      position: absolute;
      top: 52%;
      transition: opacity 1s;
    }
  }

  .portfolio-image {
    border: 0;
    border-radius: 0;
    border-top-left-radius: 0.5em;
    display: block;
    opacity: 1;
    padding: 0;
    position: relative;
    transform: scale(1);
    transition: opacity 0.35s, transform 0.35s;
    width: 100%;
  }

  .portfolio-title, 
  .portfolio-fields {
    padding: 1rem;
  }

  .portfolio-title {
    padding-bottom: .5rem;
  }

  .portfolio-fields {
    border-bottom: 3px solid var(--navigation-bg-color);
    padding-top: 0;
    font-size: .8em;
    color: var(--portfolio-secondary-text-color);
    .field-list {
      padding: 0;
    }
    .field-item {
      display: inline-block;
      padding: 0;
      margin: 0;
      &:after {
        content: ', ';
      }
      &:last-child:after {
        content: '';
      }
    }
  }

  /* Hover behavior */
  .portfolio-content:hover {
    .portfolio-cover {
      &:after {
        opacity: 1;
      }
    }
    .portfolio-image {
      opacity: .4;
      transform: scale(1.12);
      z-index: 1;
    }
    .portfolio-title a {
      color: var(--link-text-hover-color);
    }
  }
}
