.portfolio {
  padding: 0;

  .portfolio-content {
    box-shadow: 2px 2px 2px rgba(0,0,0,.2);
    border-radius: .6em;
    background: var(--portfolio-bg-color);
    display: flex;
    flex-direction: column;
  }

  .portfolio-cover {
    border-top-left-radius: $border-radius;
    margin: 0;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    &:after {
      content: "";
      height: 35px;
      width: 35px;
      background-image: url("data:image/svg+xml;base64, PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZGF0YS1wcmVmaXg9ImZhcyIgZGF0YS1pY29uPSJzZWFyY2gtcGx1cyIgY2xhc3M9InN2Zy1pbmxpbmUtLWZhIGZhLXNlYXJjaC1wbHVzIGZhLXctMTYiIHJvbGU9ImltZyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHBhdGggZmlsbD0iY3VycmVudENvbG9yIiBkPSJNMzA0IDE5MnYzMmMwIDYuNi01LjQgMTItMTIgMTJoLTU2djU2YzAgNi42LTUuNCAxMi0xMiAxMmgtMzJjLTYuNiAwLTEyLTUuNC0xMi0xMnYtNTZoLTU2Yy02LjYgMC0xMi01LjQtMTItMTJ2LTMyYzAtNi42IDUuNC0xMiAxMi0xMmg1NnYtNTZjMC02LjYgNS40LTEyIDEyLTEyaDMyYzYuNiAwIDEyIDUuNCAxMiAxMnY1Nmg1NmM2LjYgMCAxMiA1LjQgMTIgMTJ6bTIwMSAyODQuN0w0NzYuNyA1MDVjLTkuNCA5LjQtMjQuNiA5LjQtMzMuOSAwTDM0MyA0MDUuM2MtNC41LTQuNS03LTEwLjYtNy0xN1YzNzJjLTM1LjMgMjcuNi03OS43IDQ0LTEyOCA0NEM5My4xIDQxNiAwIDMyMi45IDAgMjA4UzkzLjEgMCAyMDggMHMyMDggOTMuMSAyMDggMjA4YzAgNDguMy0xNi40IDkyLjctNDQgMTI4aDE2LjNjNi40IDAgMTIuNSAyLjUgMTcgN2w5OS43IDk5LjdjOS4zIDkuNCA5LjMgMjQuNiAwIDM0ek0zNDQgMjA4YzAtNzUuMi02MC44LTEzNi0xMzYtMTM2UzcyIDEzMi44IDcyIDIwOHM2MC44IDEzNiAxMzYgMTM2IDEzNi02MC44IDEzNi0xMzZ6Ij48L3BhdGg+PC9zdmc+");
      left: 40%;
      opacity: 0;
      position: absolute;
      top: 45%;
      transition: opacity 1s;
    }
  }

  .portfolio-image {
    border: 0;
    border-radius: 0;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    display: block;
    opacity: 1;
    padding: 0;
    position: relative;
    transform: scale(1);
    transition: opacity 0.35s, transform 0.35s;
    width: 100%;
  }

  .portfolio-title, 
  .portfolio-fields {
    padding: 1rem;
  }

  .portfolio-title {
    padding-bottom: .5rem;
  }

  .portfolio-fields {
    border-bottom: 3px solid var(--navigation-bg-color);
    border-radius: 0;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    padding-top: 0;
    font-size: .8em;
    color: var(--portfolio-secondary-text-color);
    .field-list {
      padding: 0;
    }
    .field-item {
      display: inline-block;
      padding: 0;
      margin: 0;
      &:after {
        content: ', ';
      }
      &:last-child:after {
        content: '';
      }
    }
  }

  /* Hover behavior */
  .portfolio-content:hover {
    .portfolio-cover {
      &:after {
        opacity: 1;
      }
    }
    .portfolio-image {
      opacity: .4;
      transform: scale(1.12);
      z-index: 1;
    }
    .portfolio-title a {
      color: var(--link-text-color);
    }
  }
}

.work a { 
  &, &:link, &:visited {
    color: var(--link-text-hover-color);
  }
  &:hover {
    color: var(--link-text-color);
  }
}

.work .more {
  &:after {
    content: 'View portfolio \00BB';
  }
}
