section {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      .location {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  h2 {
    margin-bottom: 2rem;
  }
  
  &::after {
    content: '';
    display: block;
    margin-top: $navigation-height;
  }
}