.category {
  padding-top: 1.5*$navigation-height;
  @media (min-width: $screen-sm) {
    & {
      padding-top: 1.5*$navigation-height;
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
    li {
      .taggedlink {
        display: table-row;
      }
      .dtstart {
        color: var(--content-secondary-text-color);
        font-style: italic;
        font-weight: 400;
      }
      .location {
        color: var(--content-text-color);
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
