/*.xfolkentry {
  text-indent: -2em;
}*/

.talks-container {
  clear: both;
  display: grid;
  grid-gap: $grid-padding $grid-padding;
}

@media (min-width: 576px) {
  .talks-container {
    grid-template-columns: repeat(auto-fill, minmax(300px, calc(50% - #{$grid-gutter-width})));
  }
}

@media (min-width: 1200px) {
  .talks-container {
    grid-template-columns: repeat(auto-fill, minmax(400px, calc(33% - #{$grid-gutter-width})));
    .xfolkentry {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
      grid-auto-columns: minmax(300px, auto);
      .info {
        grid-column: 1;
        grid-row: 2;
      }
      .preview {
        grid-column: 2;
        grid-row: 2;
      }
      .taggedlink {
        grid-column: span 2;
        grid-row: 1;
      }
    }
  }
}

.talks-container {

  .xfolkentry {
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    line-height: 1.5;
    overflow: hidden;
  }

  .xfolkentry:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.03), 0 20px 30px 0 rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }

  .xfolkentry a {
    font-weight: 600;
    text-decoration: none;
  }

  .xfolkentry .event {
    font-weight: 100;
  }

  .xfolkentry iframe {}

}



.xfolkentry .taggedlink {
  grid-column: span 2;
}

.xfolkentry .event {
  grid-column: span 2;
  color: #484848;
  font-size: .85em;
  margin-bottom: 1em;
}

.xfolkentry .info {
  padding: .5em 1em;
  display: grid;
  grid-template-rows: repeat(2,auto);
  grid-template-columns: repeat(2,1fr);
}

.xfolkentry iframe {
  width: 100%;
}

.xfolkentry .location, 
.xfolkentry .dtstart {
  color: #747c83;
  text-transform: uppercase;
  font-size: .85em;
  font-weight: 100;
}

.xfolkentry .dtstart {
  text-align: right;
}
