.xfolkentry {
  margin-bottom: 2em;

  .taggedlink, .event {
    display: block;
  }

  .event {
    font-size: .85em;
    margin: .5em 0 .5em 2em;
  }

  .location, 
  .dtstart {
    color: var(--content-secondary-text-color);
    text-transform: uppercase;
  }

  &.video {
    iframe {
      max-width: 100%;
      width: 100%;
    }
  }
}

.more {
  float: right;
  font-size: .8em;
  letter-spacing: 1px;
  margin-top: -3em;
  text-align: right;
  text-transform: uppercase;
  &:focus, &:active, &:hover {
    text-decoration: none;
  }
  &:after {
    content: 'Less \00BB';
    position: relative;
    display: block;
  }
  &[aria-expanded=false]:after {
    content: 'More \00BB';
  }
}
