.xfolkentry {
  text-indent: -2em;
  margin-bottom: 2em;
  padding-left: 2em;

  .event {
    font-weight: 100;
  }

  .taggedlink {
    grid-column: span 2;
  }

  .event {
    grid-column: span 2;
    color: #484848;
    font-size: .85em;
    margin-bottom: 1em;
  }

  .info {
    padding: .5em 1em;
    display: grid;
    grid-template-rows: repeat(2,auto);
    grid-template-columns: repeat(2,1fr);
  }

  iframe {
    width: 100%;
  }

  .location, 
  .dtstart {
    color: #747c83;
    text-transform: uppercase;
    font-size: .85em;
    font-weight: 100;
  }

  .dtstart {
    text-align: right;
  }
}

.more {
  float: right;
  font-size: .8em;
  letter-spacing: 1px;
  margin-top: -3em;
  text-align: right;
  text-transform: uppercase;
  &:focus, &:active, &:hover {
    text-decoration: none;
  }
  &:after {
    content: 'Less \00BB';
    position: relative;
    display: block;
  }
  &[aria-expanded=false]:after {
    content: 'More \00BB';
  }
}
