//
// Base variables inherited by all themes
// --------------------------------------------------

// Themes Paths
// -------------------------
$img-path: '../../../../dist/img/';

// Responsive
// -------------------------
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

// Colors
// -------------------------
$white:                       #fff !default;
$gray-100:                    #f5f5f5 !default;
$gray-200:                    #eeeeee !default;
$gray-300:                    #e0e0e0 !default;
$gray-400:                    #bdbdbd !default;
$gray-500:                    #9e9e9e !default;
$gray-600:                    #757575 !default;
$gray-700:                    #616161 !default;
$gray-800:                    #424242 !default;
$gray-900:                    #212121 !default;
$black:                       #000 !default;

// Typography
// -------------------------
$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;
$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-base:              .9rem; 

$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;
$font-weight-base:            $font-weight-normal;

$line-height-base:            1.5 !default;

$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;

// Body
// -------------------------
$body-bg:                     $white !default;
$body-color:                  $black !default;

$link-color:                  #1a0dab !default;
$link-hover-color:            #609 !default;
$link-decoration:             none !default;

$border-width:                1px !default;
$border-color:                $black !default;
$border-radius:               .5em;

// Margins
// -------------------------
$spacer:                      1rem !default;
$headings-margin-bottom:      0 !default;
$paragraph-margin-bottom:     calc($spacer / 2) !default;
$margin-bottom:               $paragraph-margin-bottom;      

// Grid
// -------------------------
$grid-columns:                12 !default;
$grid-gutter-width:           30px !default;;
$grid-padding:                calc($grid-gutter-width / 2);

// Navigation
// -------------------------
$navigation-height:           4rem;

// CSS Variables
// -------------------------

// CSS Variables Defaults
:root {
  --font-family-base:        'Open Sans', Helvetica, Arial, sans-serif;
  --footer-bg-color:         var(--navigation-bg-color);
  --footer-text-color:       var(--content-secondary-text-color);
}

// CSS Variables Mapping
$font-family-base:           var(--font-family-base);

$body-bg:                    var(--body-bg-color);
$body-color:                 var(--content-text-color);

$link-color:                 var(--link-text-color);
$link-hover-color:           var(--link-text-hover-color);

$border-color:               var(--border-color);