//
// Base variables inherited by all themes
// --------------------------------------------------

// Themes Paths
// -------------------------
$img-path: '../../../../dist/img/';

// Responsive
// -------------------------
$screen-sm: 768px;

$grid-gutter-width: 30px;
$grid-padding: floor(($grid-gutter-width / 2));

:root {
// Typography
// -------------------------
--font-family-base: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Global
// -------------------------
--body-bg-color: #F7F8FA;

// Type
// -------------------------
--content-text-color: #646C81;
--content-secondary-text-color: #808a96;

--heading-text-color: #0e1d26;

--link-text-color: #1D9BD9;
--link-text-hover-color: #00CEFB;
}

// Menu
// -------------------------
:root {
--navigation-bg-color: #0e1d26;
--navigation-bg-hover-color: #115b7f;
}
$navigation-bg-hover-color: #115b7f;
$navigation-text-color: #fff;
$navigation-height: 42px;

// Footer
// -------------------------
$footer-bg-color: var(--navigation-bg-color);
:root {
--footer-text-color: var(--content-secondary-text-color);
}