/* Headers displayed using background-clip + fallback */
h2 {
  --font-family-base: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-weight: 900;
  margin-bottom: .5em;
}

.work {
  background-color: var(--accent-bg-color);
}
